/* Color Styles */
:root {
  --primary-color: #37475e;
  --secondary-color: #00aeef;
  --dark-color: #000000e1;
  --light-color: #ffffff;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --info-color: #00aeef;
  --secondinfo-color: #ffc233;
  --link-color: #7dcdc8;
  --symbol-color: #ed0c6e;
  --picture-color: #c3c4b7;
  --tertiary-color: #006bb6;
  --middle-color: #404040;
}
