@import "../styles/colors";

.text-dark {
  color: var(--dark-color);
}
.container1 {
  background-color: var(--secondary-color);
  padding: 1.3rem;
  align-self: center;
  .text-left {
    text-align: left;
    a:visited {
      color: var(--middle-color);
    }
    th {
      text-indent: 3rem;
    }
  }
  .cardContainer {
    padding-top: 30px;
  }
  .card {
    text-align: center;
    max-width: none !important;
    border: 0px;
    max-width: 600px;
    border: 0px;
    border-radius: 0rem;
  }
  .card-img-top-right {
    position: relative;
    width: 9rem;
    align-self: center;
    margin: 1rem;
  }
  .card-img-family {
    position: relative;
    width: 6rem;
    align-self: center;
    margin: 1rem;
  }
  .card-img-activity {
    position: relative;
    width: 16rem;
    align-self: center;
    margin: 2rem;
  }
  .btn {
    display: inline-block;
    background: var(--light-color);
    color: var(--middle-color);
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
  }
  .btn-block {
    display: block;
    width: 100%;
  }
  .btn-vertical {
    width: 144px;
    align-self: center;
  }
  .card-btn {
    background-color: var(--link-color);
    margin-bottom: 15px;
    position: initial !important;
  }
  .card-btn1 {
    background-color: var(--link-color);
    margin-bottom: 15px;
    position: initial !important;
  }
  .card-btn2 {
    background-color: var(--symbol-color);
    margin-top: 30px;
    width: 300px;
    height: 200px;
    position: initial !important;
  }
  .card-btn3 {
    background-color: var(--link-color);
    margin-top: 30px;
    width: 300px;
    height: 200px;
    position: initial !important;
  }
  .card-btn4 {
    background-color: var(--secondary-color);
    width: 300px;
    height: 200px;
    position: initial !important;
  }
  .card-btn5 {
    background-color: var(--link-color);
    margin-bottom: 15px;
    position: initial !important;
    margin-top: 1rem;
  }
  .cardmap {
    text-align: initial;
    border: 0px;
    max-width: 0px;
    font-size: 1rem;
  }
  .circle {
    display: inline-block;
    background: var(--symbol-color);
    border-radius: 0%;
    height: 20px;
    width: 6px;
    margin-right: 15px;
  }
  .circle1 {
    display: inline-block;
    background: var(--success-color);
    border-radius: 0%;
    height: 20px;
    width: 6px;
    margin-right: 15px;
  }
  .circle2 {
    display: inline-block;
    background: var(--link-color);
    border-radius: 0%;
    height: 20px;
    width: 6px;
    margin-right: 15px;
  }
  .circle3 {
    display: inline-block;
    background: var(--secondary-color);
    border-radius: 0%;
    height: 20px;
    width: 6px;
    margin-right: 15px;
  }
  .circle4 {
    display: inline-block;
    background: var(--symbol-color);
    border-radius: 0%;
    height: 20px;
    width: 6px;
    margin-right: 15px;
  }
  .dot {
    height: 20px;
    width: 20px;
    background-color: var(--success-color);
    border-radius: 50%;
    display: inline-block;
    p {
      width: 200px;
    }
  }
  .dot-yellow {
    height: 20px;
    width: 20px;
    background-color: var(--secondinfo-color);
    border-radius: 50%;
    display: inline-block;
    p {
      width: 200px;
    }
  }
  .dot-red {
    height: 20px;
    width: 20px;
    background-color: var(--danger-color);
    border-radius: 50%;
    display: inline-block;
    p {
      width: 200px;
    }
  }
  .dot-blue {
    height: 20px;
    width: 20px;
    background-color: var(--tertiary-color);
    border-radius: 50%;
    display: inline-block;
    p {
      width: 200px;
    }
  }
}

//Chat Window

div.sc-header {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  color: #333;
  font-style: bold;
}

img.sc-header--img {
  width: 150px;
  border-radius: 0%;
}

div.sc-header--team-name {
  font-weight: bold;
  padding-top: 24px;
  margin-left: 46px !important;
  color: var(--secondary-color);
}

div.sc-launcher {
  background-color: transparent;
  border-radius: 21%;
  width: 120px;
  height: 120px;  
  z-index: 999;
  .sc-closed-icon {
    width: 190px;
    height: 150px;
   
    
    
  }
  .sc-open-icon {
    padding: 0px;
    width: 60px;
    height: 60px;
  }
}

div.sc-launcher-opened {
  padding: 0px;
  width: 60px;
  height: 60px;
}

.sc-open-icon {
  content: url(../layout/images/chatkuplapieni.png);
  
  background-color: none;
  width: 1px;
  height: 1px;
}

.sc-closed-icon {
  content: url(../layout/images/chatkupla.png);
  width: 190px;
  height: 150px;
  background-color: none;
  
}

form.sc-user-input {
  background-color: #d2f3ff;
  color: var(--middle-color);
}

div.sc-user-input--text {
  color: var(--middle-color);
  ::before {
    color: var(--middle-color);
  }
}

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }
  .card {
    margin-bottom: 0 !important;
  }
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Mobile Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .container.navmenu {
    text-align: center;
  }
  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  h1 {
    font-size: 9vw;
  }

  h5 {
    font-size: 6vw;
  }

  .p-5 {
    padding: 2% !important;
  }

  .btn-dark {
    display: flex;
    max-width: 700px;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    align-self: center;
  }

  .text-shadow {
    text-align: center;
  }

  .navmenuright {
    display: none;
    background-color: inherit;
  }

  /* Mobile cards */

  .card-btn2 {
    background-color: var(--symbol-color);
    height: 200px;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    width: auto !important;
    position: initial !important;
  }
  .card-btn3 {
    background-color: var(--link-color);
    height: 200px;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    width: auto !important;
    position: initial !important;
  }
  .card-btn4 {
    background-color: var(--secondary-color);
    height: 200px;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    width: auto !important;
    position: initial !important;
  }
}

.sc-launcher.opened:before {
  width: 0px;
  height: 0px;
}

.sc-chat-window {
  z-index: 999;
}
