/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");

/* Styles */
:root {
  --primary-color: #37475e;
  --secondary-color: #00aeef;
  --dark-color: #000000e1;
  --light-color: #ffffff;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --info-color: #00aeef;
  --link-color: #7dcdc8;
  --symbol-color: #ed0c6e;
  --picture-color: #c3c4b7;
  --tertiary-color: #006bb6;
  --middle-color: #404040;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-size: cover;
  color: var(--dark-color);
}

h1 {
  opacity: 100%;
}

h2 {
  opacity: 100%;
  font-weight: bold;
}

h3 {
  opacity: 100%;
}

p {
  opacity: 100%;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

a:hover {
  color: var(--light-color);
}

a:visited {
  color: var(--light-color);
  text-decoration: underline;
}

ul {
  margin-bottom: 0rem;
}

img {
  width: 100%;
  position: static;
}

/* Utilities */
.container {
  max-width: 2400px;
  margin: auto;
  padding: 0;
  padding-bottom: 1rem;
  align-content: center;
}
.card-container {
  margin: initial;
  overflow: hidden;
  padding-bottom: 1rem;
  align-content: center;
  background-color: var(--light-color);
}
.cardtitle{
  margin-top: 30px;
  margin-bottom: 40px;
}
.cardtitle1{
  margin-top: 30px;
  margin-bottom: 40px;
  text-align:left;
}
.cardtext{
  text-align: left,
  
}

.container-img {
  background-image: url("./components/layout/images/aurajokiranta_kuva-vesa-aaltonen.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}
.container1 {
  background-color: var(--secondary-color);
  padding: 1.3rem;
  align-self: center;
}
.cardRow {
  .col {
    min-width: max-content;
    padding-right: 0px;
    padding-left: 0px;
  }
  p {
    text-align-last: center;
    margin-bottom: 0px;

}}
/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
  a:visited {
    color: var(--middle-color);
  }
  th {
    text-indent: 3rem;
  }
}

.text-shadow {
  text-shadow: 2px 2px 6px var(--dark-color);
}
.text-shadow-header {
  text-shadow: 1px 1px 1px var(--primary-color);
  color: var(--primary-color);
}

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cards */
.card {
  text-align: center;
  border: 0px;
  max-width: 600px;
  border: 0px;
}

.card-background {
  background-color: rgba(230, 230, 230, 0.7);
}
.card-img-top-right {
  position: relative;
  width: 9rem;
  align-self: center;
  margin: 1rem;
}

/* List */
.list {
  margin: 0.5rem 0;
}

li {
  padding-bottom: 0.3rem;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.grid-accessibility-text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: var(--middle-color);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: var(--primary-color);
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: var(--primary-color);
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-info,
.bg-info,
.badge-info,
.alert-info {
  background: var(--info-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: var(--light-color);
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

/* Forms */
input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"],
button {
  font: inherit;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: flex-start;
  min-height: 105px;
  width: 100%;
  opacity: 1;
  background-color: var(--light-color);
  ul {
    display: flex;
    margin-top: 2rem;
  }
  a {
    color: var(--dark-color);
    margin: 0 0.45rem;
  }
}
.navbar-dark {
  display: flex;
  align-items: flex-start;
  min-height: 105px;
  width: 100%;
  opacity: 1;
  background-color: var(--primary-color);
  ul {
    display: flex;
    margin-top: 2rem;
  }
  a {
    color: var(--light-color);
    margin: 0 0.45rem;
  }
}

a.navbar-brand {
  height: 100%;
  padding: 23px 20px;
  margin-top: -2rem;
  margin-bottom: -3rem;
}

a.navbar-brand img {
  height: 109px;
  width: 155px;
}

.navbar a:hover {
  color: var(--dark-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.navmenu {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 10px;
}

.navlinks {
  margin-left: 30px;
}

.profilemenu {
  margin: 0px !important;
  padding: 25px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  text-align: center;
}

.navmenuright {
  display: inline-block;
  background-color: inherit;
  align-self: flex-end;
}

.contrast_button {
  width: 1.5rem;
  align-content: center;
  background-color: inherit;
  border: 0px;
  padding-right: 0.1rem;
  padding-left: 0.1rem;
}

.textsize_button {
  padding-right: 0.1rem;
  padding-left: 0.1rem;
  border: 0px;
  background-color: inherit;
}

.textsize_button_light {
  padding-right: 0.1rem;
  padding-left: 0.1rem;
  border: 0px;
  color: var(--light-color);
  background-color: inherit;
}

#textsizebuttons {
  display: contents !important;
}

.dropdownbutton {
  background-color: inherit;
  color: var(--dark-color);
  border: 0px;
  padding-right: 0.1rem;
  padding-left: 0.1rem;
}

.dropdownbutton_light {
  background-color: inherit;
  color: var(--dark-color);
  border: 0px;
  padding-right: 0.1rem;
  padding-left: 0.1rem;
  color: var(--light-color);
}

#dropdown-item-button {
  background-color: inherit;
  color: var(--dark-color);
  padding: 0px !important;
  z-index: 999;
}

#dropdown-item-button_light {
  background-color: inherit;
  color: var(--light-color);
  padding: 0px !important;
  z-index: 999;
}

#smalltext {
  font-size: smaller;
}

#mediumtext {
  font-size: medium;
}

#largetext {
  font-size: large;
}

#asukas-link {
  background-color: var(--secondary-color);
  margin: 0 !important;
}

#aspa-link {
  background-color: var(--tertiary-color);
}

#doctor-link {
  background-color: var(--picture-color);
  color: var(--dark-color);
}

#information-link {
  background-color: var(--middle-color);
}

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Mobile Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .container.navmenu {
    text-align: center;
  }
  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  h1 {
    font-size: 9vw;
  }

  h5 {
    font-size: 6vw;
  }

  .p-5 {
    padding: 2% !important;
  }

  .btn-dark {
    display: flex;
    max-width: 700px;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    align-self: center;
  }

  .text-shadow {
    text-align: center;
  }

  .navmenuright {
    display: none;
    background-color: inherit;
  }

  /* Mobile Navbar */
  .navbar {
    display: block;
    text-align: left;
    margin: 0%;
    padding: 0%;
  }

  .navbar-container {
    max-width: 1100px;
    margin: 0px !important;
    padding: 0px !important;
    overflow: hidden;
    justify-content: center;
    align-content: center;
  }

  ul {
    justify-content: center;
  }

  a.navbar-brand {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  a.navbar-brand img {
    height: 109px;
    width: 155px;
  }

  #tkulogo {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Menu */
.menu {
  width: 500px;
  position: sticky;
  display: block;
  text-align: center;
  padding: 0px;
  height: max-content;
  ul {
    position: relative;
    top: 0px;
    font-size: 24px;
    padding: 0px;
  }
  li {
    list-style: outside none none;
    margin: 20px 0px;
    padding: 0;
  }
  li:hover {
    color: #ff0000;
  }
}

/* Popup */
.popup-content {
  width: auto;
  position: relative;
  display: inline-block;
  background-color: rgba(200, 200, 200, 0);
  border: none;
}

// väliaikaisia lisäyksiä:
// tärkeitä: .cont:issa määritellyt display: flex ja flex-direction: column;

.App {
  background-color: var(--primary-color);
}

.cont {
  display: flex;
  flex-direction: column;
  background-color: rgba(167, 165, 165, 0);
  margin: 1%;
}

.row {
  margin: 0%;
  margin-left: 0rem;
  background-color: rgba(167, 165, 165, 0);
}

.navlinks {
  margin-left: 35px !important;
}

.col1 {
  flex-shrink: 1;
  background-color: var(--light-color);
  margin: 1%;
}
.footer {
  background-color: var(--primary-color);
  color: var(--light-color);
  z-index: 898;
  text-align: center;
  max-width: 100%;
}

#footID {
  z-index: 898;
  color: var(--light-color);
}

#footh2 {
  font-size: 1.5em;
  margin-top: 24px;
  margin-bottom: 12px;
}

#footspan {
  font-size: 16px;
}

#footerlogo {
  height: 155px;
  width: 109px;
}

.card-btn1 {
  background-color: var(--link-color);
  margin-bottom: 15px;
  position: initial !important;
}
.card-btn {
  background-color: var(--link-color);
  margin-bottom: 15px;
  position: initial !important;
}
.btn-vertical {
  width: 144px;
  align-self: center;
}
.table {
  margin-top: 1rem;
  background-color: #ffffff;
  padding-left: 5rem;
  border: 0;
}
.table th,
.table td {
  padding: 1rem;
  text-align: center;
}

.table th {
  background: var(--light-color);
}
.jumbotron {
  background-color: #ffffff;
  margin-left: 2rem;
  margin-top: 15px;
}
.img-chat{
  width: 300px;
  align-self: center;
  margin-top: 2rem;
}
